#appHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

#logo {
  font-size: 75px;
}

#navItems {
  display: flex;
}

#navItems > li {
  padding: 15px;
  margin: 15px;
  font-size: 25px;
  list-style-type: none;
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#searchContainer {
  padding: 10px;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 200px;
  height: 420px;
  background-color: lightgrey;
}

.card:hover {
  cursor: pointer;
  border: 2px solid grey;
}

.cardImage {
  width: 100%;
}

.cardInfo {
  text-align: center;
}
